# Python 관련
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# 주피터 노트북 체크포인트
.ipynb_checkpoints/

# 환경 설정 파일
.env
.venv/
venv/
ENV/
env/
.Python
*.pyenv

# 데이터 파일 (필요 시)
*.csv
*.tsv
*.json
*.xlsx

# Matplotlib 시각화 파일 (필요 시)
*.png
*.jpg
*.jpeg
*.pdf

# IDE 관련 파일
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
